body {
  font-family: Open Sans;
  font-weight: 400;
  background: white;
}

header {
  background: #E5F3F2;
  display: flex;
  flex-direction: row;
  font-family: 'Roboto Slab', serif;
  font-size: 7em;
  font-weight: 700;
  justify-content: center;
  padding: 4% 0% 0% 0%;
}

.header-1 {
  color: #00A79D
}

.header-2 {
  color: #6D6E71;
}

form {
  background: #E5F3F2;
  display: flex;
  flex-direction: column;
}

input {
  border: solid;
  border-color: #CCCDCF;
  font-size: 5em;
  margin: 4% 8% 0% 8%;
} 

input::placeholder {
  color: #D3D4D5;
}

#title-input {
  padding: 1% 0% 1% 2%;
}

#body-input {
  padding: 1% 0% 17% 2%;
}

#save-button {
  background: #00A79D;
  color: #FFFFFF;
  font-size: 4em;
  letter-spacing: .1em;
  margin: 4% 8%;
  padding: 2% 0%;
}

#save-button:hover {
  background: #045E55;
}

#search-input {
  padding: 1% 0% 1% 2%;
}

.idea-card {
  margin: 10% 8%;
}

.idea-card h2{
  color: #6D6E71;
  display: inline;
  font-size: 4.5em;
}

.delete-idea-button {
  /*position: absolute;
  right: 0px;
  top: 0px;*/
  text-align: left;
  height: 80px;
  width: 80px;
  background-image: url("images/delete.svg");
  background-repeat: no-repeat;
}

.delete-idea-button:hover {
  background-image: url("images/delete-hover.svg");

}

.idea-card p {
  color: #939598;
  font-size: 3.5em;
  padding: 0% 0% 7% 0%;
}

.up-vote-button {
  height: 80px;
  width: 80px;
  background-image: url("images/upvote.svg");
  padding: 0% 3% 0% 0%;
  background-repeat: no-repeat;
}

.up-vote-button:hover {
  background-image: url("images/upvote-hover.svg");
}

.down-vote-button {
  height: 80px;
  width: 80px;
  background-image: url("images/downvote.svg");
  padding: 0% 3% 0% 0%;
  background-repeat: no-repeat;
}

.down-vote-button:hover {
  background-image: url("images/downvote-hover.svg");
}

.idea-card h3{
  display: inline-block;
  font-size: 3.5em;
  padding: 1% 0% 0% 4%;
  position: absolute;
  text-align: center;
}

/*Desktop Version*/
@media only screen and (min-width: 768px) {



}/*Desktop Version*/