body {
  font-family: Open Sans, serif;
  font-weight: 400;
  background: white;
  text-align: center;
}

header {
  background: #E5F3F2;
  display: flex;
  flex-direction: row;
  font-family: 'Roboto Slab', serif;
  font-weight: 700;
  justify-content: center;
  padding: 2% 0% 1% 0%;
}

.header-1 {
  color: #00A79D;
}

.header-2 {
  color: #6D6E71;
}


.form {
  background: #E5F3F2;
  display: flex;
  flex-direction: column;
}

input {
  border: solid;
  border-color: #CCCDCF;
  margin: 1% 0%;
  width: 50%;
} 

input::placeholder {
  color: #D3D4D5;
}

#title-input {
 
}



#save-button {
  background: #00A79D;
  color: #FFFFFF;
  letter-spacing: .1em;
  margin: 1% 0%;
}

#save-button:hover {
  background: #045E55;
}

#search-input {

}


/*Card Styling*/

.idea-section {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.idea-card {
  width: 50%;
  border-bottom: 1px solid #CCCDCF;
  text-align: left;
}

.card-line-1 {
 display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-between;
}

.idea-card h2{
  color: #6D6E71;
  font-size: 1.5em;
  font-weight: 700;
  font-family: 'Roboto Slab', serif;
}

.delete-idea-button {
  height: 3em;
  width: 3em;
  background-image: url("images/delete.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.delete-idea-button:hover {
  background-image: url("images/delete-hover.svg");

}

.idea-card p {
  color: #939598;
  margin: 1em 0em;
}

.up-vote-button {
  height: 3em;
  width: 3em;
  background-image: url("images/upvote.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;

}

.up-vote-button:hover {
  background-image: url("images/upvote-hover.svg");
}

.down-vote-button {
  height: 3em;
  width: 3em;
  background-image: url("images/downvote.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;

}

.down-vote-button:hover {
  background-image: url("images/downvote-hover.svg");
}

.idea-card h3{
  color: #6D6E71;
  font-size: 1em;
  font-weight: 700;
  font-family: 'Roboto Slab', serif;
  display: inline-block;
  margin: 0 0 1em 1em;
  vertical-align: middle;
}

.idea-card button {
  border: none;
  background-color: transparent; 
}

/*Desktop Version*/
@media only screen and (min-width: 768px) {

h1 {
  font-size: 2.5em;
}

input {
  font-size: 2em;
} 

#save-button {
  line-height: 1.5em;
  margin-bottom: 1em;
}

#search-input {
  margin: 1em 0em;
}

}/*Desktop Version*/

/*Mobile Version*/
@media only screen and (max-width: 768px) {
  

h1 {
  font-size: 2em;
}

input {
  font-size: 1.5em;
} 

input {
  width: 80%;
} 

#body-input {
  padding-bottom: 75px;
}

.idea-card {
  width: 80%;
}

#save-button {
  margin-bottom: 1em;
}
#search-input {
  margin: 1em 0px;
}

}/*End Mobile Version*/